@using BusnLogicBW
@model TeamViewModel
@{
    ViewData["Title"] = "Detail";
}

<div class="d-flex justify-content-center">
    <form asp-action=Index method="POST">
        <h1 class="d-flex justify-content-center">Profiel:</h1>
        <table class="tabel">
            <tr>
                <td>Naam: </td>
                <td>@Model.Naam</td>
            </tr>
            <tr>
                <td>Beschrijving: </td>
                <td>@Model.Beschrijving</td>
            </tr>


        </table>
        <div class="d-flex justify-content-center">Als u een review wilt achterlaten klik <a asp-area="" asp-controller="Team" asp-action="Review">hier</a></div>
    </form>
</div>
<div>
    <h6>Reviews van dit team:</h6> <br />
    @foreach (Review review in Model.reviews)
    {
        @review.Teamreview <br />
    }
</div>

