@model ProfielViewModel
@{
    ViewData["Title"] = "Index";
}

<div class="d-flex justify-content-center">
    <form asp-action=Index method="POST">
        <h1 class="d-flex justify-content-center">Registreren</h1>
        <table class="tabel">
            <tr>
                <td>Naam</td>
                <td><input asp-for=Naam></td>
            </tr>
            <tr>
                <td>Gebruikersnaam</td>
                <td><input asp-for=PlannerNaam required></td>
            </tr>
            <tr>
                <td>In-Game Gebruikersnaam</td>
                <td><input asp-for=GameNaam></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input asp-for=Email placeholder="jsmith@example.com"></td>
            </tr>
            <tr>
        </table>
        <div class="d-flex justify-content-center">
            <input type="submit" value="Change Profile!">
        </div>
    </form>


