@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
    <form asp-action=Index method="POST">
        <table class="d-flex justify-content-center">
            <tr>
                <td>Gebruikersnaam:</td>
                <td><input asp-for=Gebruikersnaam required autocomplete="off"></td>
            </tr>
            <tr>
                <td>Wachtwoord:</td>
                <td><input asp-for=Wachtwoord type="password" required></td>
            </tr>
        </table>
        <div class="col-md-12">
            @if (ViewData["Error"] != null)
            {
                <div class="alert alert-danger" role="alert">
                    @ViewData["Error"]
                </div>
            }
        </div>
        <input type="submit" value="Login !" class="login"></input>
        <br />
        <div>Als u nog geen account hebt klik <a asp-area="" asp-controller="Register" asp-action="Index">hier</a></div>
    </form>
</div>